<h1>Users</h1>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>


<% if @users %>
  <div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
  <% else %>
<%= link_to "New user", new_user_path %>
<% end %>

