  <div class="container pt-4 bg-user-show">
    <div class="row"> 
      <div class="col">
        Esto es index show  
      </div>       
    </div>       
    <div>
        <%= link_to "Back to users", users_path %>
    </div>
  </div>

