<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= section.icon %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= section.transaction_id %>
  </p>

</div>
