@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;600&display=swap');

:root {
  --main: #3778c2;
  --second: #f5b523;
  --color-text: #434b54;
  --bold-fuente: 'proxima-nova', sans-serif;
  --light-fuente: 'proxima-nova', sans-serif
}

body {
  font-family: var(--light-fuente);
}